@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.docs-main {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #ecebeb;
    min-height: 100vh;
}

.top-bar {
    background-color: rgb(54, 82, 241);
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    padding: 1rem;
}

.top-bar h1{
 margin: 0 !important;
}

.add-docs {
    height: 40px;
    width: 200px;
    background-color: #ffc107;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.add-input {
    width: 95%;
    height: 40px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 0px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.button-container {
    text-align: center;
    margin: 30px;
}

.grid-main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    color: whitesmoke;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
}

.grid-child {
    padding: 20px;
    background-color: rgb(212, 212, 212);
    color: #3a3a3a;
    border-radius: 5px;
    width: 300px;
    cursor: pointer;
}

.grid-child h4 {
  font-weight: 600;
}

.editDocs-main {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.editDocs-inner {
    width: 800px;
    box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    -webkit-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    -moz-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    padding: 20px;
    height: 750px;
}

.ql-container.ql-snow {
    border: none !important;
}